.header {
    height: 80px;
}

.header-nav{
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    width: 46px;
    height: 46px;
}


.header-list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        align-items: center;
    }
}

.header-list__link {
    display: block;
    padding-top: 19px;
    padding-bottom: 19px;

    color: #0b79c8;    
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: #000;
    }
}


// Мобильное меню

