.hero {
    height: 600px;
    background-image: url(../images/hero/massage8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slider 12000ms infinite linear;
}

.hero__position{
    margin: 0 20px;
    padding-top: 50px;
}

.hero__title{
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    color: #0b79c8;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        font-size: 32px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}


.hero_button {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 12px 10px;
    width: 100%;
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
    color: var(--btn-primary-text-color);
    // background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 3px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #00a8f3;
        border-color: #00a8f3;
        color: var(--btn-second-text-color);
        cursor: pointer;
    }

    &:focus {
        background-color: #0096d8;
        border-color: #0096d8;
        box-shadow: 0 0 0 0 rgba(255, 125, 38, 0.5);
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        padding: 14px 20px;
        width: 220px;
        border-radius: 7px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 20px;
        padding: 18px 20px;
        width: 256px;
    }
}


@keyframes slider {
    0%{
        background-image: url(../images/hero/massage8.jpg);
    }
    15%{
        background-image: url(../images/hero/massage8.jpg);
    }
    35%{
        background-image: url(../images/hero/massage9.jpg);
    }
    50%{
        background-image: url(../images/hero/massage9.jpg);
    }
    75%{
        background-image: url(../images/hero/massage5.jpg);
    } 
    90%{
        background-image: url(../images/hero/massage5.jpg);
    }  
    100%{
        background-image: url(../images/hero/massage8.jpg);
    } 
}