.massage {
    margin: 40px 0;    
}

.massage-wrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    margin: -5px;
}

.massage-description {
    font-weight: 700;
    line-height: 26px;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.massage-position {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);

}

.massage-item {
    height: 360px;
    padding: 10px 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;

    background-size: 100% 100%;
    box-shadow: 0 24px 64px rgb(0 0 0 / 10%);
    transition: .2s ease-in;

    @media screen and (max-width: 767px) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 6 * 5px) / 3);
        margin: 5px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 5px) / 4);

    }
}

.massage-item:hover {
    background-size: 120% 120%;
}

.massage-title {
    color: var(--second-text-color);
    font-size: 24px;
    margin-bottom: 20px;

}

.massage-time {
    color: var(--second-text-color);
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 5px 5px;

}

.massage-svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: #fff;
}

.massage-price {
    color: var(--second-text-color);
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 5px 5px;
}

.massage-bg {
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
}

.massage1 {
    background-image: url(../images/massage/massage1.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage2 {
    background-image: url(../images/massage/massage2.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage3 {
    background-image: url(../images/massage/massage3.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage4 {
    background-image: url(../images/massage/massage4.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage5 {
    background-image: url(../images/massage/massage5.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage6 {
    background-image: url(../images/massage/massage6.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage7 {
    background-image: url(../images/massage/massage7.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage8 {
    background-image: url(../images/massage/massage8.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage9 {
    background-image: url(../images/massage/massage9.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage10 {
    background-image: url(../images/massage/massage10.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage11 {
    background-image: url(../images/massage/massage11.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage12 {
    background-image: url(../images/massage/massage12.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage13 {
    background-image: url(../images/massage/massage13.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.massage14 {
    background-image: url(../images/massage/massage14.jpg);
    background-size: 100% 100%;
    background-position: center;
}