.reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;

    @media screen and (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.reviews-discription {
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
}

.revievs-list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

// .revievs-item{
    
// }

.revievs-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding: 30px;
    margin: 5px;
    box-shadow: 0 8px 14px #00000050, 0 -8px 14px #00000050;
    border: solid 1px #000;
    background-color: #f9f6f1;

    @media screen and (min-width: 768px) {
        width: calc((100% - 6 * 5px) / 3);
    }
}


.revievs-item::before {
    content: "";
    background-color: #0000;
    border: 2px solid #E3B589;
    position: absolute;
    inset: 20px;
}

.revievs-star {
    width: 136px;
    height: 24px;
    background-image: url(../images/star.svg);
    background-repeat: space;
    margin-bottom: 20px;


}

.revievs-names {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000;
}

.revievs-text {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 69px;
    line-height: 150%;
    color: gray;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        // max-height: 76px;
    }
}