<section class="about" id="block3">
    <div class="container">
        <h2 class="about_title">about</h2>
        <div class="about_position">
            <img src="./images/about/why_we.jpg" alt="Women and tea" class="about_img" />
            <div class="about_description">
                <h3 class="about_text">Чому нас рекомендують</h3>
                <ul class="about__list">
                    <li class="about__item">
                        <h4 class="about__item-block">95%</h4>
                        <p>
                            клієнтів відчули результат з першого масажу — зменшення болю в
                            спині, об’ємів тіла та проявів целюліту, усунення синдрому хронічної
                            втоми.
                        </p>
                    </li>
                    <li class="about__item">
                        <h4 class="about__item-block">90%</h4>
                        <p>
                            клієнтів приходять до нас за рекомендаціями від друзів та знайомих –
                            про результати майстрів та наших послуг ходять легенди.
                        </p>
                    </li>
                    <li class="about__item">
                        <h4 class="about__item-block">100%</h4>
                        <p>
                            наших масажистів пройшли навчання в Massage Club Academy – однієї з
                            найкращих шкіл масажу України та Східної Європи.
                        </p>
                    </li>
                    <li class="about__item">
                        <h4 class="about__item-block">1000+</h4>
                        <p>
                            позитивних відгуків наших клієнтів — наша репутація — це задоволені
                            клієнти.
                        </p>
                    </li>
                    <li class="about__item">
                        <h4 class="about__item-block">90%</h4>
                        <p>
                            клієнтів приходять до нас після безуспішного лікування
                            медикаментами, апаратами та ін’єкціями.
                        </p>
                    </li>
                    <li class="about__item">
                        <h4 class="about__item-block">100%</h4>
                        <p>
                            клієнтів отримують безкоштовну первинну консультацію, м’язове
                            тестування та подарунки від нашої студії.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>