<section class="footer" id="block9">
    <div class="container">
        <h2 class="about_title">footer</h2>
        <div class="footer__position">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="https://www.instagram.com/nm_massagekiev/?igshid=YmMyMTA2M2Y%3D" aria-label="Instagram" class="footer__link">
                        <svg class="footer__img">
                            <use href="./images/logo.svg#icon-Instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" aria-label="Telegram" class="footer__link">
                        <svg class="footer__img">
                            <use href="./images/logo.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" aria-label="YouTube" class="footer__link">
                        <svg class="footer__img">
                            <use href="./images/logo.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <img src="./images/logo.png" alt="logo" class="footer__logo">

            <div class="footer_addres">
                <address class="footer_street">г. Киев, вул. Сергія Данченко, 32</address>
                <a href="tel:+380961111111" class="footer__tel">+38 096 111 11 11</a>
            </div>
        </div>
    </div>

    <p class="footer__copyright">&copy; 2023 - Produced by Vitaly Shcherbak.
        All Rights Reserved. </p>


 

</section>
