<header class="header" id="block1">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-link">
        <img src="./images/logo.png" alt="logo" class="header-logo" />
      </a>

      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg width="44" height="44" aria-label="Переключатель мобильного меню">
          <use class="icon-cross" href="./images/icomoon.svg#icon-cross"></use>
          <use class="icon-menu" href="./images/icomoon.svg#icon-menu"></use>
        </svg>
      </button>

      <div class="menu-container" id="menu-container" data-menu>
        <ul class="header-list">
          <li>
            <a href="#block2" class="header-list__link" data-menu-closed>Про нас</a>
          </li>
          <li>
            <a href="#block4" class="header-list__link" data-menu-closed>Майстри</a>
          </li>
          <li>
            <a href="#block5" class="header-list__link" data-menu-closed>Послуги</a>
          </li>
          <li>
            <a href="#block6" class="header-list__link" data-menu-closed>Відгуки</a>
          </li>
          <li>
            <a href="#block8" class="header-list__link" data-menu-closed>Контакти</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
