<header class="header">
  <div class="container">
    <nav class="menu-container" id="menu-container">
      <ul class="header-list">
        <li class="header-list__item">
          <a href="#block2" class="header-list__link">Про нас</a>
        </li>

        <li class="header-list__item">
          <a href="#block3" class="header-list__link">Майстри</a>
        </li>

        <li class="header-list__item">
          <a href="#block4" class="header-list__link">Послуги</a>
        </li>

        <li class="header-list__item">
          <a href="#block5" class="header-list__link">Відгуки</a>
        </li>

        <li class="header-list__item">
          <a href="#block6" class="header-list__link">Контакти</a>
        </li>
      </ul>

      <div class="mobilmenu__btn">
        <button
          type="button"
          class="mobilmenu__header js-close-menu"
          aria-expanded="false"
          aria-controls="menu-container"
        >
          <svg
            width="35"
            height="35"
            aria-label="Переключатель мобильного окна"
          >
            <use class="icon-cross" href="./images/icomoon.svg#icon-menu"></use>
            <use class="icon-menu" href="./images/icomoon.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
