<section class="massage container" id="block4">
    <h2 class="massage-description">Масажі</h2>

    <ul class="massage-wrapper">
        <li class="massage-item massage1">
            <h3 class="massage-title">Лікувальний масаж спини</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    25хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    400грн</span>
            </div>
        </li>
        <li class="massage-item massage2">
            <h3 class="massage-title">Масаж спини</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    45хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    700грн</span>
            </div>
        </li>
        <li class="massage-item massage3">
            <h3 class="massage-title">Масаж рук</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    20хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    300грн</span>
            </div>
        </li>
        <li class="massage-item massage4">
            <h3 class="massage-title">Масаж ніг</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    30хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    400грн</span>
            </div>
        </li>
        <li class="massage-item massage5">
            <h3 class="massage-title">Масаж стоп</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    30хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    400грн</span>
            </div>
        </li>
        <li class="massage-item massage6">
            <h3 class="massage-title">Масаж шийно-комірцевий</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    20хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    350грн</span>
            </div>
        </li>
        <li class="massage-item massage7">
            <h3 class="massage-title">Класичний масаж</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    60хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    1000грн</span>
            </div>
        </li>
        <li class="massage-item massage8">
            <h3 class="massage-title">Спортивний масаж</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    45хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    850грн</span>
            </div>
        </li>
        <li class="massage-item massage9">
            <h3 class="massage-title">Лімфодренажний масаж</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    45хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    550грн</span>
            </div>
        </li>
        <li class="massage-item massage10">
            <h3 class="massage-title">Антицелюлітний масаж</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    40хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    750грн</span>
            </div>
        </li>
        <li class="massage-item massage11">
            <h3 class="massage-title">Обгортування STYX Cello gel</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    30хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    600грн</span>
            </div>
        </li>
        <li class="massage-item massage12">
            <h3 class="massage-title">Антицелюлітний масаж з обгортанням STYX Cello gel</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    90хв
                </span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    1200грн</span>
            </div>

        </li>
        <li class="massage-item massage13">
            <h3 class="massage-title">Глибокотканий масаж обличчя</h3>
            <!-- <p></p> -->
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    30хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    500грн</span>
            </div>
        </li>
        <li class="massage-item massage14">
            <h3 class="massage-title">Глибокотканий масаж обличчя</h3>
            <p class="massage-time massage-bg">- з букальними техніками</p>
            <div class="massage-position">
                <span class="massage-time">                    
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-clock"></use>
                    </svg>
                    40хв</span>
                <span class="massage-price">
                    <svg class="massage-svg">
                        <use href="./images/icomoon.svg#icon-credit-card"></use>
                    </svg>
                    +100грн</span>
            </div>
        </li>
        <!-- <li class="massage-item">
            <h3>Массаж спини</h3>
            <p></p>
            <span>45хв</span>
            <span>700грн</span>
        </li>
        <li class="massage-item">
            <h3>Массаж спини</h3>
            <p></p>
            <span>45хв</span>
            <span>700грн</span>
        </li> -->
    </ul>

</section>