<section class="master" id="block4">
  <div class="container">
    <h2 class="master__title">Наші майстри</h2>
  <ul class="master__position">
    <li class="master__list">
      <picture>
        <img src="./images/master/не-измененный-размер-1-2.jpg" alt="Nadiya_Mentij" class="master__img">
      </picture>
      <div>
        <h3 class="master__name">Надія Ментій</h3>
      <p class="master__description">
        Кваліфікований масажист із досвідом роботи понад 6 років. Фахівець з
        лікувального оздоровчого точкового масажу.
      </p>
      </div>
    </li>
    <li class="master__list">
      <picture class="master__img">
        <img src="./images/master/210505_Ms-55.webp" alt="Petro_Mentij" class="master__img">
      </picture>
      <div>
        <h3 class="master__name">Петро Ментій</h3>
      <p class="master__description">
        В нього великий досвід в тренерстві, гарно розбирається в анатомії.
      </p>
      </div>
    </li>
  </ul>
  </div>
</section>
