<div class="mobilmenu is-open js-menu-container">
    <ul class="mobilmenu__list">
        <li class="mobilmenu__item-head">
            <button class="mobilmenu__header js-close-menu">
                <h2 class="mobilmenu__text">Закрыть</h2>
                <div class="mobilmenu__closes">
                    <span></span>
                </div>
            </button>
        </li>
        <li class="mobilmenu__item">
            <a
                href="https://play.kartina.tv/"
                class="mobilmenu__menu"
                >Смотреть онлайн</a
            >
        </li>
        <li class="mobilmenu__item">
            <a
                href="https://www.kartina.tv/speedtest"
                class="mobilmenu__menu"
                >Тест скорости</a
            >
        </li>
        <li class="mobilmenu__item">
            <a
                href="https://www.kartina.tv/article/37-manuals"
                class="mobilmenu__menu"
                >Инструкции</a
            >
        </li>
        <li class="mobilmenu__item">
            <a
                href="https://www.kartina.tv/article/127-firmware-updates"
                class="mobilmenu__menu"
                >Обновление прошивок</a
            >
        </li>
        <li class="mobilmenu__item">
            <a href="tel:+380677193330" class="headertel"
                >+380 67 719 33 30</a
            >
        </li>
    </ul>
</div>