<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <!-- <form autocomplete="on">
            <div role="group">
                <h2 class="modal__heading">Оставьте свои данные, мы вам перезвоним</h2>

                <ul class="modal__list">
            <li class="modal__item">
              <label for="name" class="modal__text">Имя</label>
              <input type="text" class="modal__form" name="name" id="name" placeholder=" " />

              <svg class="modal__icon">
                <use href="../images/logo.svg"></use>
              </svg>
            </li>

            <li class="modal__item">
              <label for="tel" class="modal__text">Телефон</label>
              <input type="text" class="modal__form" name="tel" id="tel" placeholder=" " />

              <svg class="modal__icon">
                <use href="../images/logo.svg"></use>
              </svg>
            </li>

            <li class="modal__item">
              <label for="mail" class="modal__text">Почта</label>
              <input type="text" class="modal__form" name="mail" id="mail" placeholder=" " />

              <svg class="modal__icon">
                <use href="../images/logo.svg"></use>
              </svg>
            </li>

            <li class="modal__item">
              <label for="comment" class="modal__text">Комментарий</label>
              <textarea
                class="modal__textarea"
                name="comment"
                id="comment"
                rows="10"
                autocomplete="off"
                placeholder="Введите текст"
              ></textarea>
            </li>
          </ul>
            </div>

            <div class="policy">
                <label class="policy__label">
                    <input class="policy__checkbox" type="checkbox" value="Соглашаюсь с рассылкой и принимаю" />
                    <span class="policy-icon"></span>

                    <span class="policy-text">Соглашаюсь с рассылкой и принимаю <a href="#">Условия договора</a></span>
                </label>
            </div>

            <div class="modal__btn">
                <button type="submit" class="modal__send">Отправить</button>
            </div>
        </form> -->

        <!-- <button data-modal-close class="modal__closed">
            <svg class="modal__thunb">
                <use href="../images/logo.svg"></use>
            </svg>
        </button> -->
    </div>
</div>