<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <h2 class="modal__heading">Оставьте свои данные, мы вам перезвоним</h2>
        
        <div class="">
            <ul class="modal__list">
                <li class="modal__item">
                    <a href="https://www.instagram.com/nm_massagekiev/?igshid=YmMyMTA2M2Y%3D" aria-label="Instagram" class="footer__link">
                        <svg class="footer__img">
                            <use href="./images/logo.svg#icon-Instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="modal__item">
                    <a href="" aria-label="Telegram" class="footer__link">
                        <svg class="footer__img">
                            <use href="./images/logo.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <!-- <li class="modal__item">
                    <a href="" aria-label="YouTube" class="footer__link">
                        <svg class="footer__img">
                            <use href="./images/logo.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li> -->
            </ul>

            
            <div class="modal_addres">
                <address class="modal_street">г. Киев, вул. Сергія Данченко, 32</address>
                <a href="tel:+380961111111" class="modal__tel">+38 096 111 11 11</a>
            </div>
            
            <img src="./images/logo.png" alt="logo" class="modal__logo">
        
        <button data-modal-close class="modal__closed">
            <svg class="modal__thunb">
                <use href="./images/icomoon.svg#icon-cross"></use>
            </svg>
        </button>
    </div>
</div>