<section class="reviews" id="block5">
    <div class="container">
        <div>
            <h2 class="reviews-discription">Відгуки</h2>
        </div>

        <ul class="revievs-slide">
            <li class="revievs-item">
                <div class="revievs-card">
                    <div class="revievs-star"></div>
                    <h3 class="revievs-names">Юлия Ильницкая</h3>
                    <p class="revievs-text">Хотелось бы поблагодарить Студию массажа, а в особенности, как
                        для меня, лучшего массажиста Богдана! Посещала курс массажа,
                        которым осталась очень довольна. Богдан, спасибо Вам за
                        вежливость, профессионализм и хорошее настроение!</p>
                </div>
            </li>
            <li class="revievs-item">
                <div class="revievs-card">
                    <div class="revievs-star"></div>
                    <h3 class="revievs-names">Юлия Ильницкая</h3>
                    <p class="revievs-text">Хотелось бы поблагодарить Студию массажа, а в особенности, как
                        для меня, лучшего массажиста Богдана! Посещала курс массажа,
                        которым осталась очень довольна. Богдан, спасибо Вам за
                        вежливость, профессионализм и хорошее настроение!</p>
                </div>
            </li>
            <li class="revievs-item">
                <div class="revievs-card">
                    <div class="revievs-star"></div>
                    <h3 class="revievs-names">Юлия Ильницкая</h3>
                    <p class="revievs-text">Хотелось бы поблагодарить Студию массажа, а в особенности, как
                        для меня, лучшего массажиста Богдана! Посещала курс массажа,
                        которым осталась очень довольна. Богдан, спасибо Вам за
                        вежливость, профессионализм и хорошее настроение!</p>
                </div>
            </li>
        </ul>
    </div>

</section>